@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  height: 100vh;
  width: 100vw;
} */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800;900&display=swap');

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #050505;
	border-radius: 60%;
}

::-webkit-scrollbar
{
	width: 8px;
  height: 5px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb
{
	border-radius: 60%;
	background-color: #020202;
	background-image: -webkit-linear-gradient(top,
											  #979797 0%,
											  #c4c4c4 50%,
											  #adadad 51%,
											  #8d8d8d 100%);
}
#bg-pattern{
  background-image: url(".././public/crabbgf.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 20%;
  background-position: center;
  background-attachment: scroll;
  /* background-color: #000000; */
}